#root {
  padding-top: 56px;
  min-height: 100vh;
}

.page-content {
  padding-top: 40px;
}

.btn-text {
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
}

.text-block-container {
  overflow: hidden;
  margin-bottom: 1rem;
  h6 {
    margin-bottom: 0.2rem;
  }
} 
