.post-card {
  margin-bottom: 60px;
  .card-img-top {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    position: relative;
    overflow: hidden;
    height: 200px;
    &.take-space {
      padding: 0;
      img {
        height: auto;
        width: 100%;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
      } 
    }
  }
  .card-body {
    min-height: 350px;
    .card-title {
      overflow: hidden;
      h5, h6 {
        white-space: nowrap;
      }
    }
    .description {
      margin-bottom: 10px;
      > div {
        max-height: 4.5rem;
        overflow: hidden;
      }
    }
  }
}
